h1 {
    font-size: 30px;
    text-align: center;
}

#navigation{
    display: inline-block;
    text-align: center;
    font-size: 14px;
    border-radius: 20px;
    background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    margin-left: 40%;
}

#tagline{
    background-color: green;
    border-radius: 200px;
    position: relative;
}

body {
    
    background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    /* background: linear-gradient(#e66465, #9198e5); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: scroll;



}