@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#launch-pad
    {
        background-color:  gray;
        height: 100vh;
    }

@media screen and (min-width: 401px) {
/* start of phone styles */

    

    #launch-pad
    {
        background-color:  #252934;
        height: 100vh;
    }

    #tagline{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-family: 'Open Sans', sans-serif;
        position: relative;
        top: 15vh;
    }

    #sub-heading {
        display: block;
        text-align: center;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        position: relative;
        top: 20vh;
    }

    #intro span {
        display: inline;
        color: pink;
        white-space: pre;
    }

    #continue-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        top: 110px;
    }

    #down-arrow{
        width: 50px;
        height: 50px;
    }

    #main-section {
        position: relative;
        top: 0px;
        height: 100vh;
    }

    #puzzle-container 
    {
        position: relative;
        top: 25px;
    }
        
    #puzzle-top-row 
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #puzzle-bottom-row 
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
    #puzzle-top-left 
    {
        width: 150px;
        height: 150px;
        background-color: green;
    } 

    .topleft-class {
        background-color: green;
    }


    #puzzle-top-right 
    {
        width: 150px;
        height: 150px;
        background-color: rgb(185, 10, 185);
    } 

    #puzzle-bottom-left 
    {
        width: 150px;
        height: 150px;
        background-color: rgb(54, 77, 207);
    } 

    #puzzle-bottom-right 
    {
        width: 150px;
        height: 150px;
        background-color: rgb(224, 177, 45);
    } 
 

    #footer
    {
        position: relative;
        top: 200px;
        background-color: red;
        height: 50px;
        width: 500px;
    }

    #topleft-zoom-tile {
        height:100%;
        width:100%;
    }

    .topleft-zoom-style 
    {
        
        background-color: black;
    }



    /* // transform.scale

    //transform duration */


}
@media screen and (min-width: 800px) 
{
    /* start of medium tablet styleßs */

    #launch-pad 
    {
        background-color: orange;
        
    }

}